# ---------------------------------------------------------------- #
# 1. BACKEND (Spring Boot / Java / Maven)
# ---------------------------------------------------------------- #
/backsimpsons/backsimpsons/target/
/backsimpsons/backsimpsons/*.jar
/backsimpsons/backsimpsons/*.war
/backsimpsons/backsimpsons/*.class
/backsimpsons/backsimpsons/logs/
/backsimpsons/backsimpsons/temp/

# ---------------------------------------------------------------- #
# 2. ARCHIVOS DE IDE Y SISTEMA OPERATIVO
# ---------------------------------------------------------------- #

# IntelliJ IDEA
.idea/
*.iml



# Archivos de Sistema Operativo
Thumbs.db
Desktop.ini